﻿@model IEnumerable<Model.ViewModel.OrderStatusView>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách Order
            </div>
            <!-- /.panel-heading -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày tạo</th>
                            <th>Người nhận</th>
                            <th>Điện thoại</th>                            
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                if (item.StatusId != 3)
                                {
                                    <tr id="row_@item.ID" style="background-color: pink">
                                        <td>@item.OrderCode</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@item.ShipName</td>
                                        <td>@item.ShipMobile</td>                                        
                                        <td>@item.ShipEmail</td>
                                        <td>@item.ShipAddress, @item.WardName, @item.DistrictName, @item.ProvinceName</td>
                                        @*<td>@(item.StatusId == 1 ? "Đơn hàng mới tạo" : @item.StatusName)</td>*@
                                        <td>@item.StatusName</td>
                                        <td style="text-align: center">
                                            <a href="/Admin/Order/Detail/@item.ID">ViewDetail</a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr id="row_@item.ID">
                                        <td>@item.OrderCode</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@item.ShipName</td>
                                        <td>@item.ShipMobile</td>                                        
                                        <td>@item.ShipEmail</td>
                                        <td>@item.ShipAddress, @item.WardName, @item.DistrictName, @item.ProvinceName</td>
                                        @*<td>@(item.StatusId == 1 ? "Đơn hàng mới tạo" : @item.StatusName)</td>*@
                                        <td>@item.StatusName</td>
                                        <td style="text-align: center">
                                            <a href="/Admin/Order/Detail/@item.ID">ViewDetail</a>
                                        </td>
                                    </tr>
                                }

                            }
                        }
                        else
                        {
                            {
                                <tr><td colspan="12" align="center" class="col-md-12">Không có dữ liệu</td></tr>
                            }
                        }
                    </tbody>                    
                </table>                
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>

