﻿@model Model.EF.Order
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Order Detail
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Thông tin khách hàng</h3>
            <hr />
            <div class="form-group">
                <label for="orderId">Ngày: </label>
                <input type="text" class="form-control" id="orderId" value="@Model.CreatedDate">
            </div>
            <div class="form-group">
                <label for="shipname">Ship Name: </label>
                <input type="text" class="form-control" value="@Model.ShipName">
            </div>
            <div class="form-group">
                <label for="shipmobile">Ship Mobile: </label>
                <input type="text" class="form-control" value="@Model.ShipMobile">
            </div>
            <div class="form-group">
                <label for="shipaddress">Ship Address: </label>
                <input type="text" class="form-control" value="@Model.ShipAddress">
            </div>
            <div class="form-group">
                <label for="shipemail">Ship Email: </label>
                <input type="text" class="form-control" value="@Model.ShipEmail">
            </div> 
            <div class="form-group">
                <label for="status">Status: </label>
               @* <input type="text" class="form-control" value="@Model.StatusName">*@
            </div>
            <div class="form-group">
                @if (ViewBag.ListStatus != null)
                {
                    <select id="listStatus" name="listStatus" >
                        @foreach (var item in ViewBag.ListStatus)
                        {
                            <option @(item.StatusId == Model.StatusId ? "selected" : "") value="@item.StatusId">@item.StatusName</option>
                        }
                    </select>
                }
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="UpdateStatus()">Update</button>
            </div>
        </div>
        <div class="col-sm-6 table">
            <h3>Chi tiết đơn hàng</h3>
            <hr />
               
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        @*<th scope="col">Color</th>*@
                        <th scope="col">Size</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListOrderDetail)
                    {
                    <tr>                        
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        @*<td>@item.ColorName</td>*@
                        <td>@item.SizeName</td>
                    </tr>                                            
                    }
                </tbody>
                
            </table>
            
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<script type="text/javascript">
    var orderId = @Model.ID;
    function UpdateStatus() {
        var selObj = document.getElementById("listStatus");
        var valStatusId = selObj.options[selObj.selectedIndex].value;
        $.ajax({
            url: "/Admin/Order/Edit",
            data: { StatusId: valStatusId, ID: orderId },//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
            success: function (response) {                
                if (response == true) {
                    location.reload();
                }
            }
        });
    }   
</script>


