﻿@model PagedList.IPagedList<Model.ViewModel.OrderStatusView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản Lý Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Danh sách Order
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tìm kiếm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Từ ngày: </label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" id="idFromDate" value="@DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy")">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Đến ngày: </label>
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" id="idToDate" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Trạng thái đơn hàng:</label>
                                <select class="form-control" name="listStatus" id="listStatus" style="width:200px;">
                                    <option value="0">Tất cả</option>
                                    @foreach (var item in ViewBag.ListStatus)
                                    {
                                        <option value="@item.StatusId">@item.StatusName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Từ khóa:</label>
                                <input type="text" class="form-control" name="searchString" id="searchString" placeholder="Nhập từ khóa...." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center; margin-top: 20px;">
                        <button type="button" class="btn btn-info btn-md" id="idSearch">Tìm kiếm</button>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<a href="@Url.Action("ExportToExcel","Order")">Export Excel</a>
<div id="dvResults">
    
    @*@Html.Partial("_ListOrderByDate")*@
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#datepicker").datetimepicker();
        searchOrder();
        $("#idSearch").click(function () {
            searchOrder();
        });
    });

    function searchOrder() {
        var fromDate = $("#idFromDate").val();
            var toDate = $("#idToDate").val();
            var statusId = $("#listStatus option:selected").val();
            var searchString = $("#searchString").val();
            $.ajax({
                        type: "GET",
                        contentType: 'application/json',
                        url: '@Url.Action("GetData", "Order")', // do not hard code your url's
                        data: {
                            statusId: statusId,
                            fromDate: fromDate,
                            toDate: toDate,
                            searchString: searchString
                                },
                success: function (data) {
                    $("#dvResults").html(data);
                            }
                        });
    }
</script>



