﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.ListFeatureProducts;
}

@section slide
{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                @{ Html.RenderAction("ProductCategory", "Product");}
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">                
                <div class="slideshow-container">
                    @for (int i = 0; i < slides.Count; i++)
                    {
                        var item = slides[i];
                    <div class="mySlides fade">
                        <div class="numbertext"></div>
                        <img src="@item.Image" style="width:100%" />
                    </div>
                    }
                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    @*<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>*@

                </div>
                <br>
            </div>
        </div>

        <div class="clear"></div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content_top">
                <div class="heading">
                    <h3>Sản phẩm nổi bật</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="products-tabs">
                    <div class="tab-pane active">
                        <div class="products-slick" data-nav="#slick-nav-1">
                            @foreach (var item in listNewProducts)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                <div class="product">
                                    <div class="product-img" style="text-align: center">
                                        <a href="@url"><img src="@item.Image" alt="@item.Name" style="width: 250px; height: 323px; margin: 5px;" /></a>
                                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Name</p>
                                        <div class="price-details" style="position: relative; overflow: hidden;">
                                            <div class="price-number">
                                                <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") VND</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            }
                            <div id="slick-nav-1" >                                
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    @*<div class="content_bottom">
        <div class="heading">
            <h3>Sản phẩm hot</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in listFeatureProducts)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
        <div class="grid_1_of_4 images_1_of_4">
            <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
            <h2>@item.Name</h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ</a></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        }
    </div>*@
</div>

<style>
    * {
        box-sizing: border-box
    }

    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }

    .mySlides {
        display: none
    }

    img {
        vertical-align: middle;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    /*SLICK*/

    /*.products-slick .slick-list {
        padding-bottom: 60px;
        margin-bottom: -60px;
        z-index: 2;
    }*/
    .products-slick {
        background-color: white !important;
    }

        .products-slick .product.slick-slide {
            margin: 15px;
        }

    .products-tabs > .tab-pane {
        display: block;
        height: 0;
        opacity: 0;
        visibility: hidden;
        /*overflow-y: hidden;*/
        /*padding-bottom: 60px;
        margin-bottom: -60px;*/
    }
    .tab-pane{
        max-width: 100%;
    }
        .products-tabs > .tab-pane.active {
            opacity: 2;
            visibility: visible;
            height: auto;
        }

    .products-slick-nav {
        position: absolute;
        right: 15px;
        z-index: 10;
    }

        .products-slick-nav .slick-prev, .products-slick-nav .slick-next {
            position: static;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            width: 20px;
            height: 20px;
            display: inline-block !important;
            margin: 0px 2px;
        }

            .products-slick-nav .slick-prev:before, .products-slick-nav .slick-next:before {
                font-size: 14px;
            }

    .slick-prev, .slick-next {
        width: 40px;
        height: 40px;
        border: 1px solid #E4E7ED;
        background-color: #FFF;
        border-radius: 50%;
        z-index: 22;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
            background-color: #D10024;
            border-color: #D10024;
        }

        .slick-prev:before, .slick-next:before {
            font-family: FontAwesome;
            color: #2B2D42;
        }

        .slick-prev:before {
            content: "\f104";
        }

        .slick-next:before {
            content: "\f105";
        }

        .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
            color: #FFF;
        }

    .slick-prev {
        left: -20px;
    }

    .slick-next {
        right: -20px;
    }
    .product {
        position: relative;        
        -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
        box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .product:hover {
            -webkit-box-shadow: 0px 0px 6px 0px #18b6bc, 0px 0px 0px 2px #18b6bc;
            box-shadow: 0px 0px 6px 0px #18b6bc, 0px 0px 0px 2px #18b6bc;
        }

        .product .product-img {
            position: relative;
            text-align: center;
        }

</style>
