﻿@model Model.EF.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Cập nhật sản phẩm
}
<script src="/assets/client/js/jquery-1.11.3.min.js"></script>
<script src="/assets/client/js/jquery-ui.js"></script>
<script src="/assets/client/js/bootstrap.min.js"></script>
<style>
    #backtolist:hover {
        background-color: lightseagreen;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">                
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Tên sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })            
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">                
                <input type="file" name="ImageFile" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            @Html.LabelFor(model => model.Price,"Giá", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionPrice, "Giá khuyến mãi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity,"Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>        

        @*<div class="form-group">
            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
            </div>
        </div>*@        
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID,"Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @*@Html.DropDownListFor(model => model.CategoryID, (IEnumerable<SelectListItem>)ViewBag.CategoryId, "Select Category", new { htmlAttributes = new { @class = "form-control" } })*@
                <select class="form-control" name="CategoryID" id="CategoryID" style="width:200px;">
                    <option value="null">Tất cả</option>
                    @foreach (var item in ViewBag.CategoryID)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>    
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status,"Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<div class="col-sm-6 table">
    <h3>Chi tiết size sản phẩm</h3>
    <hr />

    <table class="table table-striped" id="tableSize">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Kích thước</th>
                <th scope="col">Số lượng</th>                
                <th></th>
            </tr>
        </thead>
        <tbody id="rows">
            @if (Model.ListProductSizeAdmin != null && Model.ListProductSizeAdmin.Count > 0)
            {
                foreach (var item in Model.ListProductSizeAdmin)
                {
                    <tr id="row_@item.ProductSizeId">
                        <td>@item.Name</td>
                        <td>@item.SizeName</td>
                        <td>@item.Quantity</td>
                        <td>
                            <button onclick="DeletedRow(@item.ProductSizeId)">Xóa</button>
                            <button onclick="GetValuesProductSize(@item.ProductSizeId)">Sửa</button>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>    
    <button  class="btn btn-primary"  onclick="GetValuesProductSize(0)">Thêm mới Size</button>    
    
    <div class="modal" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="sizeId" class="col-form-label">Size</label>
                            @*<input type="text" class="form-control" id="sizeId">*@                            
                            @if (ViewBag.ListSize != null && ViewBag.ListSize.Count > 0)
                            {
                                <select id="listSize" name="listSize" style="width: 200px; height: 30px">
                                    @foreach (var item in ViewBag.ListSize)
                                    {
                                        <option value="@item.SizeId">@item.SizeName</option>
                                    }
                                </select>
                            }
                                                    
                        </div>
                        <div class="form-group">
                            <label for="quantity"  class="col-form-label">Quantity</label>
                            <input class="form-control" id="quantity">
                        </div>                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="AddProductSize()">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

<script type="text/javascript">

    var productId = '@Model.ID';
     var productName = '@Model.Name';
    var productSizeId = 0;
    var listSize = [];

    $(document).ready(function () {
        GetListSize();
        //console.log(listSize);
    });
    function GetListSize() {
        $.ajax({
            url: "/Admin/ProductSize/GetListSize",
            success: function (response) {
                //console.log(response);
                listSize = response;
            }
        });
    }

    function DeletedRow(valuesId) {
        $.ajax({
            url: "/Admin/ProductSize/Delete",
            data: { id: valuesId},//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
            success: function (response) {
                if (response == true) {
                    $('#row_' + valuesId).remove();
                }
            }
        });
    }

    function AddProductSize() {

        var sizeId = $('#listSize').val();
        var quantity = $('#quantity').val();
        var proSizeId = productSizeId;
        $.ajax({
            url: "/Admin/ProductSize/AddOrUpdate",
            data: { ProductSizeId: productSizeId, ProductId: productId, SizeId: sizeId, Quantity: quantity},//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
            success: function (response) {
                //console.log(response);
                //debugger;
                if (response.isSuccess == true) {
                    proSizeId = response.item.ProductSizeId;
                }
                var productSizeName = "";
                if (listSize != null && listSize.length > 0) {
                    for (var i = 0; i < listSize.length; i++) {
                        if (listSize[i].SizeId == sizeId ) {
                            productSizeName = listSize[i].SizeName;
                        }
                    }
                }

                var markup =
                    "<tr id='row_"+ proSizeId+"'><td>" + productName + "</td><td>" + productSizeName + "</td><td>" + quantity +
                    "</td><td><button onclick= DeletedRow("+ proSizeId+")>Xóa</button><button onclick= GetValuesProductSize("+proSizeId +")>Sửa</button></td></tr>";
                $("table tbody").append(markup);
            }
        });
        $('.modal').hide();
    }

    function GetValuesProductSize(values) {
        productSizeId = values;
         $('.modal').show();

        if (values != 0) {
            // call ajax
            $.ajax({
                url: "/Admin/ProductSize/GetProductSizeById",
                data: { id: productSizeId},
                success: function (response) {
                    $('#sizeId').val(response.SizeId);
                    $('#quantity').val(response.Quantity);
                }
            });

        }
        else {
            $('#sizeId').val("");
            $('#quantity').val("");
        }
    }

</script>