﻿@model PagedList.IPagedList<Model.ViewModel.ProductViewForAdmin>
@using PagedList.Mvc;
<link href="~/assets/client/css/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Quản Lý Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách sản phẩm
}
<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">
            @*<div class="panel-heading">
                Danh sách sản phẩm
            </div>*@

            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                @*<input type="text" value="@ViewBag.CurrentFilter" class="form-control" name="searchString" />*@
                                @Html.TextBox("searchString", null, new { placeholder = "Từ khóa", @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a class="btn btn-primary" href="/Admin/Product/Create">Thêm mới</a>                                
                            </div>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Code</th>
                                <th>Meta Title</th>
                                <th>Mô tả</th>
                                <th>Hình ảnh</th>
                                <th>Kích thước</th>
                                <th>Giá</th>
                                <th>Giá khuyến mãi</th>
                                @*<th>IncludedVAT</th>*@
                                <th>Số lượng</th>
                                <th>Loại sản phẩm</th>                                                                                               
                                <th>Trạng thái</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.Name</td>
                                    <td>@item.Code</td>
                                    <td>@item.MetaTitle</td>
                                    <td>@item.Description</td>
                                    <td>
                                    <img src="@item.Image" style="width: 100px"/>
                                    </td>                                    
                                    <td>@item.SizeName</td>
                                    <td>@item.Price</td>
                                    <td>@item.PromotionPrice</td>
                                    @*<td>@item.IncludedVAT</td>*@
                                    <td>@item.Quantity</td> 
                                    <td>@item.CategoryName</td>                                    
                                    @*<td>@item.Warranty</td>*@
                                    @*<td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.ModifiedDate</td>
                                    <td>@item.ModifiedBy</td>*@                                    
                                    <td>@item.Status</td>
                                    @*<td>@item.TopHot</td>
                                    <td>@item.ViewCount</td>*@
                                    <td>
                                        <a href="/Admin/Product/Edit/@item.ID">Sửa</a>|                                        
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Product",
       new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

