﻿<style>
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 1px;
    }
    .navbar-brand img{
        width: 250px;
        height: 50px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="nav navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/Admin/Home/Index"><img src="~/assets/client/images/3-.jpg"/></a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        @*<li>
            @using (Html.BeginForm("ChangeCulture", "Base"))
            {
                @Html.Hidden("returnUrl", Request.RawUrl)
                @Html.DropDownList("ddlCulture", new SelectList(new[] {
                    new {value="vi",text=StaticResources.Resources.Vietnamese},
                    new {value="en",text=StaticResources.Resources.English},

                    }, "value", "text", Session[OnlineShop.Common.CommonConstants.CurrentCulture]), new { onchange = "this.form.submit();" })
            }
        </li>*@        
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/Admin/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                @*<li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search.">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>                    
                </li>*@
                <li>
                    <a href="/Admin/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> Hệ thống<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @*<li>
                            <a href="/Admin/UserGroup/Index">Nhóm người dùng</a>
                        </li>*@
                        <li>
                            <a href="/Admin/User/Index">User</a>
                        </li>
                        <li>
                            <a href="/Admin/Feedback/Index">Feedback</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-comment fa-fw"></i> Tin tức<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @*<li>
                            <a href="/Admin/Category/Index">Danh mục</a>
                        </li>*@
                        <li>
                            <a href="/Admin/Slide/Index">Slide</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-bell fa-fw"></i> Quản lí cửa hàng<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @*<li>
                            <a href="/Admin/ProductCategory/Index">Danh mục</a>
                        </li>*@
                        <li>
                            <a href="/Admin/Product/Index">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="/Admin/Order/Index">Order</a>
                        </li>                                                
                    </ul>
                    <!-- /.nav-second-level -->
                </li>                
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>