﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Trang chủ
}
<figure class="highcharts-figure">
    <div id="container">

    </div>
    <p class="highcharts-description" id="discription-chart">
        Doanh số
    </p>
</figure>
<style>
    #discription-chart{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>
<script src="/assets/client/js/jquery-1.11.3.min.js"></script>
<script src="/assets/client/js/jquery-ui.js"></script>
<script src="/assets/client/js/bootstrap.min.js"></script>
<script  type="text/javascript">

    $(document).ready(function () {
        GetDataChart();
        
    });
    function GetDataChart() {
        $.ajax({
            url: "/Admin/Home/GetTotalOrderCurrentYear",            
            success: function (response) {
                console.log(response);
                console.log(response.categories);
                
                console.log(response.series);
                //listSize = response;
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Doanh số bán hàng năm hiện tại theo từng tháng'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: response.categories,
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Số lượng'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    name: response.name,
                    series: response.series
                });
            }
        });
    }
    
</script>