﻿@model PagedList.IPagedList<Model.EF.Slide>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý Slides";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách Slides
}

@section jsFooter{

}
<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">            
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Slide", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" placeholder="Từ khóa"/>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                @*<a class="btn btn-primary" href="/Admin/Slide/Create">Thêm mới</a>*@ 
                            </div>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Thứ tự</th>                               
                                <th>Trạng thái</th>                                                               
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td><img src="@item.Image" style="width: 100px" /></td>
                                    <td>@item.DisplayOrder</td>                                    
                                    <td>@item.Status</td>                                    
                                    <td>
                                        <a href="/Admin/Slide/Edit/@item.ID">Sửa</a>|
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>