﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Dear: Mr/Ms [[CustomerName]],</p>  
    <p>Điện thoại: [[Phone]]</p>  
    <p>Địa chỉ: [[Address]], [[WardName]], [[DistrictName]], [[ProvinceName]]</p>  
    <table style="border-collapse: collapse; border: 1px solid black">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Tên sản phẩm</th>
                <th style="border: 1px solid black;">Số lượng</th>
                <th style="border: 1px solid black; text-align: center">Tổng cộng</th>                
            </tr>
        </thead>
        <tbody>
            <!--Detail row-->
            {{
            <tr>
                <td style="border: 1px solid black; text-align: center">{[ProductName]}</td>
                <td style="border: 1px solid black; text-align: center">{[Quantity]}</td>
                <td style="border: 1px solid black; text-align: center">{[Total]}</td>                
            </tr>
            }}
        </tbody>
    </table>    
    <p>Best Regards,</p>

    <p>**This is automatic email, please don't reply**</p>
</body>
</html>
