﻿@model Model.EF.Footer
@*<script src="~/assets/client/js/controller/homeController.js"></script>*@
@Html.Raw(Model.Content)
<script>
    $(document).ready(function () {
        $('#btnRegister').off('click').on('click', function () {
            var email = $('#txtEmail').val();

            $.ajax({
                url: '/Home/GetMailFromClient',
                type: 'POST',
                dataType: 'json',
                data: { email: email },
                success: function (response) {
                    if (response.status == true) {                        
                        //window.alert('Chúc mừng bạn đã đăng ký thành công!');
                        regSuccess();
                        $('#txtEmail').val(''); 
                    }
                }
            });
        });
    });
    function regSuccess() {
        alert('Chúc mừng bạn đã đăng ký nhận thông tin thành công!');
    }
</script>
