﻿@model List<OnlineShop.Models.CartItem>
<div class="cart">
     <span class="cart"></span>
    <div id="dd" class="wrapper-dropdown-2">        
        <a href="/gio-hang"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:24px"></i><sup>@Model.Count</sup> </a>
        @*@foreach (var item in Model)
        {
            @item.Product.Name
        }*@
        @*<ul class="dropdown">
           <li>you have no items in your Shopping cart</li>
        </ul>*@
    </div>
</div>
