﻿@model List<Model.EF.Menu>
<div class="call">
    <p><span>Hotline: </span><span class="number"><a href="tel: 0941 419 795">0941 419 795</a></span></p>
</div>
<div class="account_desc">
    @{
        var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
    }
    @if (session == null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }

        </ul>
    }
    else
    {
        <ul>
            <li >Welcome: <span style="text-transform: uppercase">@session.UserName</span></li>
            <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
        </ul>
    }

</div>
<div class="clear"></div>
