﻿@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
}
<div class="container">
    <div class="row">

        @if (Model.Count > 0)
        {
            <div class="col-lg-12">
                <table class="table table-bordered table-hover" style="margin-top: 10px">
                    <thead>
                        <tr>
                            @*<th scope="col">Mã SP</th>*@
                            <th>Tên sản phẩm</th>
                            @*<th scope="col">Size</th>*@
                            <th>Ảnh sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>@item.Product.ID</td>*@
                                <td>@item.Product.Name - @item.SizeName</td>
                                @*<td>@item.ColorName</td>*@
                                @*<td>@item.SizeName</td>*@
                                <td><img src="@item.Product.Image" width="100" /></td>
                                <td><input type="number" min="0" max="10" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity"/></td>
                                <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                                <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                <td><a href="#" data-id="@item.Product.ID" class="btn-delete"><i class="fa fa-remove" aria-hidden="true" style="font-size:24px"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 text-center">
                <button id="btnContinue" class="btn btn-default">Tiếp tục mua hàng</button>
                <button id="btnUpdate" class="btn btn-warning">Cập nhật giỏ hàng</button>
                <button id="btnDeleteAll" class="btn btn-danger">Xoá giỏ hàng</button>
                <button id="btnPayment" class="btn btn-success">Thanh toán</button>
            </div>            
        }
        else
        {
            <div style="text-align: center; margin-top: 20px; margin-bottom: 30px; display: block">
                <img src="~/assets/client/images/empty-cart.png" width="200" height="150" />
                <div style="margin-top: 20px;">
                    <a type="button" class="btn btn-default" id="continue" href="/san-pham">Tiếp tục mua hàng</a>
                </div>
            </div>

        }

    </div>
</div>

<style>
    #continue {
        border: none;
        padding: 15px 33px 15px 33px;
    }
    td, th {
        text-align: center;
    }
    th {
        font-weight: bold;
    }
</style>