﻿@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
}
@section jsFooter{    
<script src="~/assets/client/js/controller/cartController.js"></script>
}

<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered table-hover" style="margin-top: 10px">
                <thead>
                    <tr>
                        @*<th scope="col">Mã SP</th>*@
                        <th>Tên sản phẩm</th>
                        @*<th scope="col">Size</th>*@
                        <th>Ảnh sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@item.Product.ID</td>*@
                            <td>@item.Product.Name - @item.SizeName</td>
                            @*<td>@item.ColorName</td>*@
                            @*<td>@item.SizeName</td>*@
                            <td><img src="@item.Product.Image" width="100" /></td>
                            <td><input type="number" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" readonly/></td>
                            <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                            <td><a href="#" data-id="@item.Product.ID" class="btn-delete"><i class="fa fa-remove" aria-hidden="true" style="font-size:24px"></i></a></td>                      
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="section group">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <p style="">Thông tin mua hàng</p>
            </div>
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Người nhận</label>
                    <input name="shipName" id="shipName" class="form-control" />                    
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input name="mobile" id="mobile" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input name="address" id="address" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Tỉnh/Thành Phố</label>
                    @Html.DropDownList("ProvinceId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ddlProvince" , @name ="province"})                    
                </div>

                <div class="form-group">
                    <label>Quận/Huyện</label>
                    @Html.DropDownList("DistrictId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ddlDistrict" , @name = "district" })                          
                </div>
                <div class="form-group">
                    <label>Phường/Xã</label>
                    @Html.DropDownList("WardId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ddlWard" , @name = "ward" })
                </div>

                <div class="form-group">
                    <label>Email</label>
                    @if (session != null)
                    {
                        <input name="email" id="email" class="form-control" value="@session.UserEmail"/>
                    }
                    else
                    {
                        <input name="email" id="email" class="form-control" />
                    }
                    
                </div>
                <button type="button" id="submitOrder" class="btn">Gửi đơn hàng</button>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    $("#submitOrder").click(function () {
        var shipName = $("#shipName").val();
        var mobile = $("#mobile").val();
        var address = $("#address").val();
        var province = $("#ddlProvince option:selected").val();
        var district = $("#ddlDistrict option:selected").val();
        var ward = $("#ddlWard option:selected").val();
        var email = $("#email").val();
        var isCheck = 0;
        if (address == null || address == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (email == null || email == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (ward == null || ward == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (shipName == null || shipName == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (mobile == null || mobile == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (province == null || province == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (district == null || district == "") {
            alert("Vui lòng nhập lại thông tin!");
            isCheck += 1;
        }
        if (isCheck == 0) {
            $(this).prop("type", "submit");
        }
        
    });
</script>
