﻿
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" style="text-align:center">
    Bạn vừa mua hàng thành công.    
    <a type="button" class="btn btn-success" href="/san-pham">Tiếp tục mua hàng</a>
</div>
