﻿@model OnlineShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div style="text-align: center; margin: 10px 0 10px 0; font-weight:bold;">
                <h2>Đăng nhập</h2>                
            </div>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    <a class="btn btn-facebook" href="/User/LoginFacebook">
                        <i class="fa fa-facebook"></i>
                        Đăng nhập bằng Facebook 
                    </a>
                </div>
            </div>
        </div>
    }


</div>


