﻿@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@if (Model != null)
{
    foreach (var detail in Model)
    {
        var item = (Model.EF.Product)detail; //để ép kiểu cho nó hiểu detail là 1 object trong product.
        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
        <div class="col-sm-4 box" id="listProductByPrice" style="margin-top:15px; text-align: center;">
            <a href="@url"><img src="@item.Image" alt="@item.Name" style="width: 250px; height: 323px" /></a>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Name</p>
            <div class="price-details" style="position: relative; overflow: hidden;">
                <div class="price-number">
                    <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") VND</span></p>
                </div>
                <a class="btn btn-success trans" href="@url">Tùy chọn</a>
            </div>
        </div>
    }
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info">
            Không có bất kì sản phẩm nào.
        </div>
    </div>
}
<script>
    //$(document).ready(function () {
    //    GetValueActivePage();
    //});
    //function GetValueActivePage() {
    //    var val = $('li.active a').text();
    //    valPage = val;
    //    console.log(valPage);
    //}
    $("body").on("click", ".pagination li a", function (event) {
        event.preventDefault();
        var page = $(this).attr('data-page');

        //load event pagination
        var txtSearch = $(".txtSearch").val();
        if (txtSearch != "") {
            load(txtSearch, page)
        }
        else {
            load(null, page);
        }

    });

</script>

<style>
    .box {
    }

    .trans {
        transition: all 1s;
        position: absolute;
        bottom: 0;
        width: 300px;
        left: 0;
        overflow: hidden;
        transform: translateY(35px);
        background-color: #2ce8f5;
    }

    .box:hover .trans {
        transform: translateY(0);
    }
</style>