﻿@model List<Model.ViewModel.ProductViewModel>
@{
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@category.Name</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>


    <div class="row">  
        <div class="col-lg-2">
            <div class="container" id="checkprice">
                <p>Giá Sản Phẩm</p>
                <form>
                    <div class="radio">
                        <label><input type="checkbox" name="price" value="1" onchange="GetProductByDoublePrice(1)" id="check_1">Dưới 400.000</label>
                    </div>
                    <div class="radio">
                        <label><input type="checkbox" name="price" value="2" onchange="GetProductByDoublePrice(2)" id="check_2">400.000 - 800.000</label>
                    </div>
                    <div class="radio">
                        <label><input type="checkbox" name="price" value="3" onchange="GetProductByDoublePrice(3)" id="check_3">Trên 800.000</label>
                    </div>
                </form>
            </div>
        </div>
        <article class="col-lg-10"  >
            <div class="col-lg-12" id="combineprice"> 
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        var link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="col-sm-4 box" id="listProductByPrice" style="margin-top:15px; text-align: center;">
                            <a href="@url"><img src="@item.Images" alt="@item.Name" style="width: 250px; height: 323px" /></a>
                            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Name</p>
                            <div class="price-details" style="position: relative; overflow: hidden;">
                                <div class="price-number">
                                    <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") VND</span></p>
                                </div>
                                <a class="btn btn-success trans" href="@url">Tùy chọn</a>
                            </div>
                        </div>
                    }
                    <div class="clear"></div>
                }
                else
                {
                    <div style="margin-top: 20px; text-align: center">
                        <p>Đang cập nhật...... <span class="glyphicon glyphicon-hourglass"></span></p>
                    </div>

                }
            </div>
        </article>
    </div>

    
</div>
<style>
    .box {
    }

    .trans {
        transition: all 1s;
        position: absolute;
        bottom: 0;
        width: 300px;
        left: 0;
        overflow: hidden;
        transform: translateY(35px);
        background-color: #21e991;
    }

    .box:hover .trans {
        transform: translateY(0);
    }


</style>
<script>
    var listSearchPrice = [];
    var cateId = '@ViewBag.CategoryID';
    function getValueCheck(value) {
        GetProductPrice(value);
    }
    function GetProductByDoublePrice(value) {
        var listUnCheckPrice = [];
        $('#checkprice [type=checkbox]:not(:checked)').each(function () {
            listUnCheckPrice.push(this.value);
        });
        $("#check_" + value).attr('checked', 'checked');
        GetValueCheckBox(value);
        if (listUnCheckPrice.length > 0) {
            for (var i = 0; i < listUnCheckPrice.length; i++) {
                var itemUnChecked = listUnCheckPrice[i];
                for (var j = 0; j < listSearchPrice.length; j++) {
                    var itemChecked = listSearchPrice[j];
                    if (itemChecked.id == itemUnChecked) {
                        var index = listSearchPrice.indexOf(itemChecked);
                        if (index > -1) {
                            listSearchPrice.splice(index, 1);
                            
                        }
                    }
                }
            }
        }
        if (listSearchPrice.length > 0) {
            $.ajax({
                url: "/Product/CombinePrice",
                data: { listPrice: listSearchPrice },
                type: "POST",
                success: function (response) {
                    $("#combineprice").html(response);                    
                }
            });
        } else {
            location.reload();
        }
        //console.log(listSearchPrice);        
    }
    function GetValueCheckBox(value) {
        var pricefrom = 0;
        var priceto = 0;  
        
        if (value == 1) {
            priceto = 400000;
        } else if (value == 2) {
            pricefrom = 400000;
            priceto = 800000;
        } else if (value == 3) {
            pricefrom = 800000;
            priceto = 10000000;
        }
        var object = {
            priceFrom: pricefrom,
            priceTo: priceto,
            categoryId: cateId,
            id: value.toString()
        };
        if (listSearchPrice.length > 0) {
            for (var i = 0; i < listSearchPrice.length; i++) {
                var item = listSearchPrice[i];
                if (item.id != value) {
                    listSearchPrice.push(object);
                }
            }
        }
        else {
            listSearchPrice.push(object);
        }
    }

    function UnCheckBoxSearchPrice(value) {
        //console.log(value);
    }
</script>