﻿@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
}
<style>
    #imagethum {
        width: 70px;
        height: 80px;
    }
    #overname {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        #overname:hover {
            overflow: visible;
        }
    /*.zoom {
        display: inline-block;
    }*/

    /*.zoom:after {
        content: '';
        display: block;
        width: 33px;
        height: 33px;
        position: absolute;
        top: 0;
        right: 0;
    }*/

    /*.zoom img {
        display: block;
    }*/
</style>
<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang chủ</a> > <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="zoom" id="ex1">
                                    <img src="@Model.Image" alt="/" width="400" height="500" />
                                </div>

                                <ul class="pagination">
                                    <li><a href="#"><img id="imagethum" src="@Model.Image" alt=" " /></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">                    
                    <h2>@Model.Name </h2>
                    <div class="price">
                        <p>Giá: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ") VND</span></p>
                        <p>Chi tiết: <span>@Html.Raw(Model.Description)</span></p>
                    </div>
                    @*<div>
                            <span>Color: </span>

                            @if (Model != null && Model.ListProductColor.Count > 0)
                            {
                                <select id="listProductColor" name="listProductColor" onchange="singleSelectChangeValueColor()">
                                    @foreach (var item in Model.ListProductColor)
                                    {
                                        <option value="@item.ProductColorId">@item.ColorName</option>
                                    }
                                </select>
                            }
                        </div>*@                    
                    <div style="margin-top: 5px; border-top: 1px solid #e5e2e2">
                        <form style="margin-top: 10px">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label style="margin-bottom: 5px">Kích thước</label>
                                    @if (Model != null && Model.ListProductSize.Count > 0)
                                    {
                                        <select id="listProductSize" name="listProductSize" style="width: 120px; height: 27px">
                                            @foreach (var item in Model.ListProductSize)
                                            {
                                                <option value="@item.ProductSizeId">@item.SizeName</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="form-group col-md-6">
                                    <label style="margin-bottom:5px">Số lượng</label>
                                    <input id="quantity" type="number" value="1" min="1" max="10" style="width:120px; height:27px; margin-left:4px">
                                </div>
                            </div>                            
                        </form>                           
                    </div> 
                    <div style="margin-top: 100px; border-top: 1px solid #e5e2e2">
                        <div style="margin-top: 30px; text-align: center">
                            <button type="button" class="btn btn-outline-primary" onclick="getValueCartItem()" id="btnbuy" style="width: 185px; height:42px">Mua ngay</button>
                            @*<button type="button" class="btn btn-outline-primary" onclick="getValueCartItem()" id="btncart" style="width: 185px; height:42px">Thêm giỏ hàng</button>*@
                        </div>
                        
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            @*<div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi tiết: @Html.Raw(Model.Description)</li>
                        
                    </ul>
                    <div class="resp-tabs-container">
                            <div class="product-desc">
                                @Html.Raw(Model.Detail)
                            </div>
                        </div>
                </div>
            </div>*@
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            </script>
        </div>
        <div class="rightsidebar span_3_of_1">
            @{ Html.RenderAction("ProductCategory", "Product");}
            @*<div class="subscribe">
                <h2>Newsletters Signup</h2>
                <div class="signup">
                    <form>
                        <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input type="submit" value="Sign up">
                    </form>
                </div>
            </div>*@
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="content_top">
                    <div class="heading">
                        <h3>Sản phẩm liên quan</h3>
                    </div>
                    <div class="see">
                        <p><a href="/san-pham">Xem tất cả</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top: 10px;">
                <div class="col-sm-12">
                    @foreach (var item in relatedProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="col-sm-3" style="text-align: center">
                            <a href="@url"><img src="@item.Image" alt=""></a>
                            <p id="overname">@item.Name</p>
                            <div class="price">
                                <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") VND</span></p>
                                <div class="clear"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #btnbuy {
        background-color: #79dff6;
    }
    #btncart {
        background-color: #79dff6;
    }
    #btnbuy:hover{
        background-color: #b9eff6;
    }
    #btncart:hover {
        background-color: #b9eff6;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/assets/client/js/jquery.zoom.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ex1').zoom();
    });
    var productId = @Model.ID;  //Khi view trên detail thì được 1 sản phẩm, lấy id nó đem xuống đây.

    //function singleSelectChangeValueColor() {
    //    var selObj = document.getElementById("listProductColor");
    //    var valProductColorId = selObj.options[selObj.selectedIndex].value;
    //    $.ajax({
    //        url: "/Product/ChangeProductColorId",
    //        data: { productColorId: valProductColorId },//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
    //        success: function (response) {
    //            if (response != null || response != "") {
    //                document.getElementById("imagechange").src = response;
    //            }
    //        }
    //    });
    //}
    function getValueCartItem() {
        var selSize = document.getElementById("listProductSize");
        var valProductSizeId = selSize.options[selSize.selectedIndex].value;


        var quantity = document.getElementById("quantity").value;
        window.location.href = '/them-gio-hang?productId=' + productId + '&quantity=' + quantity + /*'&productColorId=' + valProductColorId +*/'&productSizeId='+valProductSizeId+'';
        //$.ajax({
        //    url: "/Cart/AddItem",
        //    data: { productId: productId, quantity: quantity, colorId: valProductColorId, sizeId: valProductSizeId },//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
        //    success: function (response) {
        //        window.location.href = '/gio hang';
        //    }
        //});
    }
    // function click them gio hang
    // can
    // lay duoc ProductId
    // lay so luong
    // size id
    // color Id
    //call ajax or cal gi de di den action nhu tren

</script>


