﻿@model PagedList.IPagedList<Model.EF.Product>
@{
    ViewBag.Title = "All Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listProduct = (PagedList.IPagedList<Model.EF.Product>)ViewBag.GetAllProduct; // sử dụng ViewBag qua bên View, viewbag là biến bất kì
}
<div class="row" style="margin-top: 20px;">    
    <div class="col-lg-2">
        <div class="container" id="checkprice">
            <p>Giá Sản Phẩm</p>            
                <div class="radio">
                    <label><input type="checkbox" name="price" value="1" onchange="GetProductByMultiplePrice(1)" id="check_1">Dưới 400.000</label>
                </div>
                <div class="radio">
                    <label><input type="checkbox" name="price" value="2" onchange="GetProductByMultiplePrice(2)" id="check_2">400.000 - 800.000</label>
                </div>
                <div class="radio">
                    <label><input type="checkbox" name="price" value="3" onchange="GetProductByMultiplePrice(3)" id="check_3">Trên 800.000</label>
                </div>          
        </div>        
    </div>
    <div class="col-lg-10">
        <div class="col-sm-12" id="combineprice">
            @*@Html.Partial("_GetListProductByPrice", listProduct)*@
        </div>
        <div class="col-sm-12" style="text-align: center">
            <div class="pagination-container">
                <ul class="pagination" id="load-pagination">                      
                </ul>                
            </div>            
        </div>
    </div>
</div>

<script>
    var listSearchPrice = [];
    //var valPrice = listSearchPrice;
    var searchPricePaging = "";

    // Bổ sung
    var valSearchString = "";
    
    var page = $(this).attr('data-page');
    $(document).ready(function (value) {        
        //GetListProductByPrice('', 0, 1, 12);
        debugger;
        GetListProductByPrice('', '', 0, 1, 12);
        
        $("body").on("click", ".pagination li a", function (event) {
            event.preventDefault();
            var page = $(this).attr('data-page');
            if (page != 0) {
                //GetListProductByPrice(searchPricePaging, 0, page, 12);
                GetListProductByPrice(searchPricePaging, valSearchString, 0, page, 12);
            }
            //load event pagination
        });
    });

    function GetProductByMultiplePrice(value) {
        var listUnCheckPrice = [];
        $('#checkprice [type=checkbox]:not(:checked)').each(function () {
            listUnCheckPrice.push(this.value);
        });
        // page = value của function
        $("#check_" + value).attr('checked', 'checked');
        GetValueCheckBox(value);
        debugger;
        if (listUnCheckPrice.length > 0) {
            for (var i = 0; i < listUnCheckPrice.length; i++) {
                var itemUnChecked = listUnCheckPrice[i];
                for (var j = 0; j < listSearchPrice.length; j++) {
                    var itemChecked = listSearchPrice[j];
                    if (itemChecked.id == itemUnChecked) {
                        var index = listSearchPrice.indexOf(itemChecked);
                        if (index > -1) {
                            listSearchPrice.splice(index, 1);
                        }
                    }
                } 
            }
        }
        var priceTemp = "";
        for (var i = 0; i < listSearchPrice.length; i++) {
            priceTemp = priceTemp + listSearchPrice[i].id + ",";
        }
        searchPricePaging = priceTemp;
        //GetListProductByPrice(priceTemp, 0, 1, 12);
        GetListProductByPrice(priceTemp, "", 0, page, 12);
    }
        

    //function GetListProductByPrice(price, cateId, valPage, valPageSize) {
    //    var urlSearch = '/Product/GetDataProduct?price=' + price + '&categoryId=' + cateId + '&page=' + valPage + '&pageSize=' + valPageSize;
    //    $.ajax({
    //        url: urlSearch,
    //        type: "POST",
    //        success: function (response) {
    //            $("#combineprice").html(response);
    //        }
    //    });
    //}
    @*function GetListProductByPrice(price, cateId, valPage, valPageSize) {

        $.ajax({
            url: '@Url.Action("GetData","Product")',
            type: "GET",
            data: { price: price, categoryId : cateId, page: valPage, pageSize : valPageSize },
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                console.log(response);
                var str = "";

            $.each(response.data, function (index, value) {
                var url = "/chi-tiet/" + value.MetaTitle + "-" + value.ID;
                str += "<div class='col-sm-4 box' id='listProductByPrice' style='margin-top:15px; text-align: center;'><a href='" + url + "'><img src='" + value.Image + "' alt='" + value.Name + "' style='width: 250px; height: 323px' /></a><p style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>" + value.Name + "</p><div class='price-details' style='position: relative; overflow: hidden;'><div class='price-number'><p><span class='rupees'>" + value.Price.toLocaleString() + " " + 'VND' + "</span ></p></div><a class='btn btn-success trans' href='" + url + "'>Tùy chọn</a></div></div>";
                //create pagination
                var pagination_string = "";

                var pageCurrent = response.pageCurrent;
                var numSize = response.numSize;

                //create button previous
                if (pageCurrent > 1) {
                    var pagePrevious = pageCurrent - 1;
                    pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                }
                for (i = 1; i <= numSize; i++) {
                    if (i == pageCurrent) {
                        pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                    } else {
                        pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                    }
                }
                //create button next
                if (pageCurrent > 0 && pageCurrent < numSize) {
                    var pageNext = pageCurrent + 1;
                    pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                }
                $("#load-pagination").html(pagination_string);

                });
                if (response.numSize == 0) {
                    $("#load-pagination").html('');
                    $("#load-pagination").append('<li>Không tìm thấy bất kỳ sản phẩm nào!</li>');

                }

                $("#combineprice").html(str);
            }
        });
    }*@
    function GetListProductByPrice(price, searchstring, cateId, valPage, valPageSize) {

        $.ajax({
            url: '@Url.Action("GetDataProduct", "Product")',
            type: "GET",
            data: {
                price: price,
                searchString: searchstring,
                categoryId: cateId,
                page: valPage,
                pageSize: valPageSize
            },
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {                                
                var str = "";

            $.each(response.data, function (index, value) {
                var url = "/chi-tiet/" + value.MetaTitle + "-" + value.ID;
                str += "<div class='col-sm-4 box' id='listProductByPrice' style='margin-top:15px; text-align: center;'><a href='" + url + "'><img src='" + value.Image + "' alt='" + value.Name + "' style='width: 250px; height: 323px' /></a><p style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>" + value.Name + "</p><div class='price-details' style='position: relative; overflow: hidden;'><div class='price-number'><p><span class='rupees'>" + value.Price.toLocaleString() + " " + 'VND' + "</span ></p></div><a class='btn btn-success trans' href='" + url + "'>Tùy chọn</a></div></div>";
                //create pagination
                var pagination_string = "";

                var pageCurrent = response.pageCurrent;
                var numSize = response.numSize;

                //create button previous
                if (pageCurrent > 1) {
                    var pagePrevious = pageCurrent - 1;
                    pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                }
                for (i = 1; i <= numSize; i++) {
                    if (i == pageCurrent) {
                        pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                    } else {
                        pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                    }
                }
                //create button next
                if (pageCurrent > 0 && pageCurrent < numSize) {
                    var pageNext = pageCurrent + 1;
                    pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                }
                $("#load-pagination").html(pagination_string);

                });
                if (response.numSize == 0) {
                    $("#load-pagination").html('');
                    $("#load-pagination").append('<li>Không tìm thấy bất kỳ sản phẩm nào!</li>');

                }

                $("#combineprice").html(str);
            }
        });
    }

    function getValueCheck(value) {
        GetProductPrice(value);
    }
    //function GetProductByPrice(value) {
    //    $.ajax({
    //        url: "/Product/GetListProductByPrice",
    //        data: { range: value },//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
    //        success: function (response) {
    //            $("#thai").html(response);
    //        }
    //    });
    //}

    //function GetProductByDoublePrice(value) {
    //    var pricefrom = 0;
    //    var priceto = 0;
    //    if (value == 1) {
    //        priceto = 400000;
    //    } else if (value == 2) {
    //        pricefrom = 400000;
    //        priceto = 800000;
    //    } else if (value == 3) {
    //        pricefrom = 800000;
    //        priceto = 10000000;
    //    }
    //    $.ajax({
    //        url: "/Product/GetListProductPrice",
    //        data: { priceFrom: pricefrom, priceTo: priceto },//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
    //        success: function (response) {
    //            $("#thai").html(response);
    //        }
    //    });
    //}

    function GetProductByDoublePrice(value) {
        var listUnCheckPrice = [];
        $('#checkprice [type=checkbox]:not(:checked)').each(function () {
            listUnCheckPrice.push(this.value);
        });
        $("#check_" + value).attr('checked', 'checked');
        GetValueCheckBox(value);
        if (listUnCheckPrice.length > 0) {
            for (var i = 0; i < listUnCheckPrice.length; i++) {
                var itemUnChecked = listUnCheckPrice[i];
                for (var j = 0; j < listSearchPrice.length; j++) {
                    var itemChecked = listSearchPrice[j];
                    if (itemChecked.id == itemUnChecked) {
                        var index = listSearchPrice.indexOf(itemChecked);
                        if (index > -1) {
                            listSearchPrice.splice(index, 1);
                        }
                    }
                }
            }
        }
        //console.log(listSearchPrice);
        $.ajax({
            url: "/Product/CombinePrice",
            data: { listPrice: listSearchPrice },//productColorId: tên biến yêu cầu truyền vào, valProductColorId: giá trị người dùng chọn
            type: "POST",
            success: function (response) {
                $("#combineprice").html(response);
            }
        });
    }

    function GetValueCheckBox(value) {
        var pricefrom = 0;
        var priceto = 0;
        var categoryid = 0;
        if (value == 1) {
            priceto = 400000;
        } else if (value == 2) {
            pricefrom = 400000;
            priceto = 800000;
        } else if (value == 3) {
            pricefrom = 800000;
            priceto = 10000000;
        }
        var object = {
            priceFrom: pricefrom,
            priceTo: priceto,
            categoryId: categoryid,
            id: value.toString(),
        };
        if (listSearchPrice.length > 0) {
            for (var i = 0; i < listSearchPrice.length; i++) {
                var item = listSearchPrice[i];
                if (item.id != value) {
                    listSearchPrice.push(object);
                }
            }
        }
        else {
            listSearchPrice.push(object);
        }
    }
    function UnCheckBoxSearchPrice(value) {
    }

</script>
<style>
    /*.box {
    }*/

    .trans {
        transition: all 1s;
        position: absolute;
        bottom: 0;
        width: 300px;
        left: 0;
        overflow: hidden;
        transform: translateY(35px);
        background-color: #2ce8f5;
    }

    .box:hover .trans {
        transform: translateY(0);
    }
</style>


