﻿@model List<Model.ViewModel.ProductViewModel>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Kết quả tìm kiếm theo từ khoá: @ViewBag.Keyword</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                var link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="col-sm-4 box" id="listProductByPrice" style="margin-top:15px; text-align: center;">
                    <a href="@url"><img src="@item.Images" alt="@item.Name" style="width: 250px; height: 323px"/></a>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Name</p>                    
                    <div class="price-details" style="position: relative; overflow: hidden;">
                        <div class="price-number">
                            <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") VND</span></p>
                        </div>
                        @*<a class="btn btn-success trans" href="@url">Tùy chọn</a>*@                        
                    </div>
                </div>           
            }
            <div class="clear"></div>
        <!--Phân trang-->
            if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/tim-kiem?keyword=" + ViewBag.Keyword;
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link&page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link&page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                                <li> <a href="@link&page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link&page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                    {
                            <li><a href="@link&page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li> <a href="@link&page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>

            }
        }
        else
        {
            <div style="margin-top: 20px; text-align: center" class="searchproduct">
                <p id="notice1">Không tìm thấy bất cứ sản phẩm nào với từ khóa trên</p>
                <p id="notice2">Vui lòng tìm kiếm với từ khóa khác</p>
            </div>
        }


    </div>
</div>

<style>
    .box {        
    }
    .trans {
        transition: all 1s;
        position: absolute;
        bottom: 0;
        width: 300px;
        left: 0;
        overflow: hidden;
        transform: translateY(35px);
        background-color: #21e991;
    }

    .box:hover .trans {
        transform: translateY(0);        
    }

    .searchproduct {
        margin-top: 20px;
        text-align: center;
    }
    #notice1 {
        font-family: 'Times New Roman';
        text-transform: uppercase;
        font-size: 22px;
    }
    #notice2{
        font-size: 14px;
        margin-top: 10px;
    }
</style>
