﻿@model Model.EF.Contact
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mapCanvas{      
        height:600px;
    }
</style>
@section jsFooter{   
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk3Eeu6MXm1Y6qil2hO6j89kckY5nnSTo"></script>

<script src="/assets/client/js/controller/contactController.js"></script>
<script>        
        function initMap() {
            var uluru = { lat: parseFloat($('#hidLat').val()), lng: parseFloat($('#hidLng').val()) };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: uluru 
            });

            var contentString = '@Html.Raw(Model.Content)';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Men Fashion Shop'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    
</script>
}

<style>
    .form-group label{
        margin-bottom: 5px;
    }

    .required {
        font-size: 15px;
        color: red;
    }
</style>
<input type="hidden" id="hidLat" value="10.744305" />
<input type="hidden" id="hidLng" value="106.644277" />
<div class="content" style="margin-top: 15px">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Thông tin liên hệ</h2>
                @Html.Raw(Model.Content)
                <br />
                <h2>Gửi thông tin</h2>
                <form>
                    <div class="form-group">
                        <label>Họ tên<span class="required">*</span></label>
                        <input type="text" id="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Điện thoại<span class="required">*</span></label>
                        <input type="text" id="txtMobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ<span class="required">*</span></label>
                        <input type="text" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email<span class="required">*</span></label>
                        <input type="text" id="txtEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Yêu cầu<span class="required">*</span></label>
                        <textarea id="txtContent" class="form-control"></textarea>
                    </div>
                    <button id="btnSend" class="btn btn-info" style="padding: 10px 20px 10px 20px">Gửi tin nhắn</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Bản đồ</h2>
                <div id="map" style="height:600px;"></div>
            </div>
        </div>
    </div>
</div>
