﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1 {
        font-size: 1.67em;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    p{
        font-size: 1.2em;
        padding: 5px 0 5px 0;
    }
    h3{
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>
<article>
    <h1>Giới thiệu Men Fashion</h1>
    <p style="margin-bottom: 5px;">Thương hiệu thời trang nam Men Fashion được thành được thành lập từ tháng 3 năm 2010, là thương hiệu thời trang uy tín hàng đầu tại Việt Nam dành riêng cho phái mạnh.</p>
    
    <h3>SỨ MỆNH</h3>
    <p>Sáng tạo và trẻ trung là yếu tố tiên phong khiến cho các thiết kế của Men Fashion luôn tạo sự thu hút và đón nhận nhiệt tình từ giới trẻ.
    Không chỉ thể hiện tinh tế và sang trọng đối với dòng sản phẩm Vestton, guu thời trang Men Fashion còn khơi dậy chất trẻ trung, năng động và đa dạng trên các dòng sản phẩm hằng ngày từ Áo sơ mi, áo thun, áo khoác, jeans, kaki, quần tây, short,... Cho đến vô số các phụ kiện đi kèm, giúp phái mạnh có thêm nhiều lựa chọn và kết hợp phong phú trong phong cách thời trang của chính mình.</p>

    <h3>TẦM NHÌN</h3>
    <p>Sự nỗ lực và không ngại thay đổi đã tạo nên sự khác biệt kiên định cho các dòng sản phẩm thời trang của 4MEN. Mong muốn của chúng tôi không chỉ dừng lại ở câu chuyện sản xuất, cung cấp các sản phẩm thời trang mà còn hướng đến việc truyền cảm hứng thời trang, góp phần định hướng phong cách thời trang trẻ trung và phù hợp dành riêng cho phái mạnh.</p>

    <p>Tính đến thời điểm này (2020), thương hiệu thời trang nam Men Fashion đã sở hữu đến 15 chi nhánh được phân bổ rộng khắp khu vực Đông Nam Bộ và Tây Nam Bộ như: TP. Hồ Chí Minh, Vũng Tàu, Bình Dương, Biên hòa (Đồng Nai), An Giang, Cần Thơ. Bên cạnh việc phát triển các hệ thống cửa hàng, Men Fashion còn chú trọng phát triển hệ thống chăm sóc và bán hàng online, đặt - giao hàng nhanh chóng đến tận tay người tiêu dùng trên toàn quốc thông qua website: menfashion.com</p>

    <h3>VĂN HÓA Men Fashion</h3>
    <p>Đến với Men Fashion, Quý khách sẽ được trải nghiệm một giá trị mới, phong cách mới không chỉ đơn thuần là được tư vấn thời trang, chúng tôi mong muốn được chăm sóc và thấu hiểu khách hàng nhằm đảm bảo được sự hài lòng tuyệt đối cũng như sự tin tưởng gửi gắm từ qúy khách.</p>
    <p>Với sự tận tâm và chuyên nghiệp của đội ngũ quản lý cũng như toàn thể nhân viên tại Men Fashion, chúng tôi không ngừng nỗ lực và đề cao quyền lợi của khách hàng làm mục tiêu trên hết. Phục vụ khách hàng một cách nhiệt tình và chu đáo cũng là cách để Men Fashion chúng tôi trau dồi, tích lũy văn hóa cho thương hiệu của mình ngày một thêm lớn mạnh.</p>

    <p>Chọn Men Fashion, bạn đang lựa chọn sự hoàn hảo cho điểm nhấn thời trang của chính mình!</p>
    
</article>

